name: Full Release

on: 
  milestone:
    types: [closed]

env:
  artifactId: gafferpy


jobs:
  create-release-tag:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout main
      uses: actions/checkout@v3
      with:
        ref: main

    - name: Set up Github credentials
      run: |
        git config user.name github-actions[bot]
        git config user.email 41898282+github-actions[bot]@users.noreply.github.com

    - name: Set release version
      run: echo "RELEASE_VERSION=$(echo ${{ github.event.milestone.title }} | cut -c 2-)" >> $GITHUB_ENV

    - name: Push changes
      run: |
        git tag $artifactId-$RELEASE_VERSION
        git push origin $artifactId-$RELEASE_VERSION
        git push

  update-github-releases:
    runs-on: ubuntu-latest
    needs:
    - create-release-tag

    steps:
    - name: Checkout Main
      uses: actions/checkout@v3
      with:
        ref: main

    - name: Create Release Notes
      uses: docker://decathlon/release-notes-generator-action:2.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Set release version
      run: echo "RELEASE_VERSION=$(echo ${{ github.event.milestone.title }} | cut -c 2-)" >> $GITHUB_ENV

    - name: Upload notes
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.artifactId }}-${{ env.RELEASE_VERSION }}
        name: gafferpy ${{ env.RELEASE_VERSION }}
        body_path: release_file.md
